:root {
  color: black;
  background-color: #F5F6F7;

  width: 100vw;
  height: 100vh;
}
*{
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
